<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.css">
    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#">
        </a>
        <a class="py-2 d-none d-md-inline-block" href="{{url_for('admin_bebidas',tipo_bebida='vino') }}">Ver productos en DB Local</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Cargar productos a DB local</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Ver productos no subidos</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Actualizar Stock</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Cart</a>
    </div>
</nav>
{% block content %}
{% endblock %}

<script src="../static/js/jquery-3.3.1.slim.min.js"></script>
<script src="../static/js/popper.js/1.14.7/umd/popper.min.js" ></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>