{% extends "admin.html" %}
{% from "_render_elements.html" import render_vinos %}

{% block head %}
<link href="{{ url_for('static', filename='css/mis_estilos.css') }}" rel="stylesheet">
{% endblock %}

{% block content -%}
<nav>
    <a href="{{url_for('get_bebidas',tipo_bebida='vino') }}">Vinos</a>

    <a href="{{url_for('get_bebidas',tipo_bebida='espumante') }}">Espumantes</a>

    <a href="{{url_for('get_bebidas',tipo_bebida='cerveza') }}">Cervezas</a>
    <div class="animation start-home"></div>
</nav>
<br>
<br>
<div class="container" style="background-color: #2c3e50;">
    <div class="row">

        {% for i in rango -%}
        {{
        render_vinos(datos[0][i].id_bebida,datos[0][i].titulo_bebida,datos[0][i].precio,datos[1][i])
        }}

        {%- endfor %}

    </div>

</div>

{%- endblock %}